---
layout: default
title: My Blog
---
<div class="blog">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class='row'>
    <div class="entry panel col-sm-12">
      <h1>{{ post.title }}</a></h1>
      <p>
        <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
      </p>
      <div class="synopsis">
        {{ post.content | split:"<!-- more -->" | first | strip_html | truncate:400 }}
        {% if post.content | size > 400 %}
            <a href="{{ post.url }}"><strong>Read more</strong></a>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
    <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Older</a></li>
  {% else %}
    <li class="previous disabled"><span>&larr; Older</span></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active"><span>{{ page }}</span></li>
    {% elsif page == 1 %}
      <li><a href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer &rarr;</a></li>
  {% else %}
    <li class="next disabled"><span>Newer &rarr;</span></li>
  {% endif %}
</ul>
{% endif %}
</div>